<div id="<%= dom_id spread_bet %>">
  <p>
    <strong>Match:</strong>
    <%= spread_bet.match_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= spread_bet.user_id %>
  </p>

  <p>
    <strong>Wager:</strong>
    <%= spread_bet.wager %>
  </p>

</div>
