DIV.nonScrolling
{
	overflow: hidden;
}
DIV.scrolling
{
	overflow: scroll;
}
TABLE.selfSchedule
{
	background-color:black;
	border-collapse:collapse;
}
TABLE.selfSchedule TD
{
	text-indent: 1px;
}
TABLE.selfSchedule TH
{
	text-indent: 2px;
}
TABLE.selfSchedule TH, TABLE.selfSchedule TD
{
	border: solid 1px black;
	padding:0 0 0 0;	
}
TABLE.selfSchedule TH.leftBorder, TABLE.selfSchedule TD.leftBorder
{
	border-left: black 3px solid;
}
TABLE.selfSchedule TR.ll
{
	background-color:#FFFFFF;
}
TABLE.selfSchedule TR.hl
{
	background-color:#FFFFE1;
}
TABLE.selfScheduleOuter TD
{
	vertical-align: top;
}
*.cellContents
{
	height: 22px;
	overflow:hidden;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	text-overflow: ellipsis;
	border-style:solid;
	border-width:2px;
}
TH *.cellContents
{
	text-overflow: clip;
}
*.data
{
	width: 60px;
}
DIV.dropDown
{
	width: 120px;
}
*.header
{
	width: 150px;
	text-align: left;
}
*.headerA
{
	width: 105px;
	text-align: left;
}
*.headerB
{
	width: 44px;
	text-align: left;
}
*.addRow
{
	height: 40px;
}
TR.noTop TD, TR.noTop TH, TR.noTop DIV
{
	border-top: none;
	height: 20px;
}
TR.noBottom TD, TR.noBottom TH, TR.noBottom DIV
{
	border-bottom: none;
	height: 20px;
}
TR.noTopNoBottom TD, TR.noTopNoBottom TH, TR.noTopNoBottom DIV
{
	border-top: none;
	border-bottom: none;
	height: 14px;
}
*.overStaff
{
	color: blue;
}
*.underStaff
{
	color: red;
}
*.unavail
{
	border:solid 2px LightGreen;
}
*.forTrade
{
	background-color:DeepSkyBlue;
}
*.dropDownRow
{
	height: 22px;
	vertical-align: middle;
}
TD.tradeRecord
{
	background-color:#90ee90;
}
TD.tradeAvailable
{
	background-color:#ffd700;
}
TD.currentSelection
{
	background-color:#00ffff;
}