<h1>Editing prop bet</h1>

<%= render "form", wrestle_bet_prop_bet: @wrestle_bet_prop_bet %>

<br>

<div>
  <%= link_to "Show this prop bet", @wrestle_bet_prop_bet %> |
  <%= link_to "Back to prop bets", wrestle_bet_prop_bets_path %>
</div>
