<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams">
  <% @teams.each do |team| %>
    <%= render team %>
    <%= link_to "edit", edit_olympics_team_path(team) %>
  <% end %>
</div>

<hr/>
<%= link_to "New team", new_olympics_team_path %>
