<h1>Standings</h1>
<table>
  <% presenter.rankings.each do |place| %>
    <tr>
      <td><%= place[:rank].ordinalize %></td>
      <td>
        <% place[:teams].each do |team| %>
          <div class="scoreboard_team_name">
            <%= with_team_bg_color(team, :div) do %>
              <%= team.name %><br/>
            <% end %>
          </div>
        <% end %>
      </td>
      <td>
        <%= place[:points] %>
      </td>
    </tr>
  <% end %>
</table>
