<h1>Generate Brackets</h1>

<p>
  This will destroy all current matches
</p>

<%= form_with url: olympics_generate_brackets_path, method: :post do |form| %>
  <%= form.label "Password" %>
  <%= form.password_field :password %>

  <br/>
  <%= form.submit "Generate" %>
<% end %>
