<h1>Results</h1>

<% if @success %>
  <p>New Matchups Generated</p>

  <p>
    <%= link_to "Verify in Excel", 
          "https://docs.google.com/spreadsheets/d/1EgzblSSW6L-MJtA9tozflRCoKXXdquDymBUFEmX2rX0/edit#gid=671638943",
          target: :_blank %>
    
  </p>

  <p>
    <%= @generator.to_s.html_safe %>
  </p>

<% else %>
  <p>Failed to generate new brackets</p>
<% end %>

<div id="generated_matches">
  <% @matches.each do |match| %>
    <div class="generated_match">
      <%= render partial: "olympics/matches/match", locals: {match: match} %>
    </div>
  <% end %>
</div>
