<div class="wrestle_bet_prop_bet_animation" id="wrestle_bet_jesus">
  <%= image_tag "wrestle_bet/jesus.png" %> 
</div>

<div class="wrestle_bet_prop_bet_animation" id="wrestle_bet_exposure">
  <%= image_tag "wrestle_bet/exposure.png" %> 
</div>

<div class="wrestle_bet_prop_bet_animation" id="wrestle_bet_challenge">
  <%= image_tag "wrestle_bet/challenge.png" %> 
</div>
