<h1>The Leaderboard</h1>

<div 
  id="wrestle_bet_leaderboard"
  tournament-path="<%= wrestle_bet_tournament_path(@tournament) %>">

<ul>
  <% @rankings.each do |position, data| %>
    <li>
      <%= position.ordinalize %><br/>
      <%= data[:points] %> points<br/>
      <% data[:users].each do |user| %>
        <%= user.email %><br/>
      <% end %>
    </li>
  <% end %>
</ul>

</div>
