<div class="olympic_match">

  <div class="clear"></div>
  <div class="olympic_match_panel">

    <% if match.winning_team_id == match.team_1.id %>
      <div class="winner">
    <% elsif match.winning_team_id.present? %>
      <div class="loser">
    <% else %>
      <div>
    <% end %>

      <%= match.team_1.name.gsub("&", "<br/>&<br/>").html_safe %>
    </div>
  </div>

  <div class="olympic_match_panel">
    <%= event_logo(match) %>

    <% if match.winning_team_id.present? && match.event == Olympics::Match::Events::BEER_PONG %>
      (<%= match.bp_cups_remaining %> cups)
    <% end %>
  </div>

  <div class="olympic_match_panel">
    <% if match.winning_team_id == match.team_2.id %>
      <div class="winner">
    <% elsif match.winning_team_id.present? %>
      <div class="loser">
    <% else %>
      <div>
    <% end %>

      <%= match.team_2.name.gsub("&", "<br/>&<br/>").html_safe %>
    </div>
  </div>

  <div class="clear"></div>
</div>
