<% previous_date = nil %>
<% @matches.each do |match| %>

  <% if previous_date != match.date %>
    <h2><%= match.date.strftime("%A %m/%d") %></h2>
    <% previous_date = match.date %>
  <% end %>
  <p>
    <%= name_with_rank(match.away_team) %>
    at
    <%= name_with_rank(match.home_team) %>
    <%= link_to "Preview", preview_path(match_id: match.id) %>
  </p>

<% end %>
