<p style="color: green"><%= notice %></p>

<h1>Matches</h1>

<p>
<%= link_to "New match", new_wrestle_bet_match_path %>
</p>

<div id="wrestle_bet_matches">
  <% @wrestle_bet_matches.each do |wrestle_bet_match| %>
    <%= render wrestle_bet_match %>
    <%= link_to "Edit", edit_wrestle_bet_match_path(wrestle_bet_match) %>
  <% end %>
</div>

