.shift {
  width: 200px;
  border: thin solid black;
  padding: 4px;
}

.shift.US {
  background-color: black;
  color: white;
}

.shift.LPN,
.shift.RN-EXT,
.shift.RN,
.shift.AGCY {
  background-color: navy;
  color: white;
}

.shift.NCT,
.shift.TECH {
  background-color: teal;
  color: white;
}

.shift-code {
  float: right;
}

.date {
  width: 40px;
  float: left;
  border: thin solid black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date:not(.header) {
  cursor: pointer;
}

.date.selected, .date.highlight.selected {
  background: purple;
  color: white;
  font-weight: bolder;
}

.date.header {
  background: lavender;
  font-weight: bolder;
}

.date.highlight {
  background: lightblue;
}

.staffing-chart.line {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  background-color: lightgray;
  border: medium solid black;
	float: left;
}

.shift_block {
  float: left;
}
