.shift {
  width: 200px;
  border: thin solid black;
  padding: 4px;
}

.shift.US {
  background-color: black;
  color: white;
}

.shift.LPN,
.shift.RN-EXT,
.shift.RN,
.shift.AGCY {
  background-color: navy;
  color: white;
}

.shift.NCT,
.shift.TECH {
  background-color: teal;
  color: white;
}

.shift-code {
  float: right;
}

.date {
  width: 40px;
  float: left;
  border: thin solid black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date.clickable:not(.header) {
  cursor: pointer;
}

.date.unclickable {
  background: darkgray;
}

.date.selected, .date.highlight.selected {
  background: purple;
  color: white;
  font-weight: bolder;
}

.date.header {
  background: lavender;
  font-weight: bolder;
}

.date.highlight {
  background: lightblue;
}

.staffing-chart.line {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  background-color: lightgray;
  border: medium solid black;
	float: left;
}

.shift_block {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}

.shift_block .header {
  text-align: center;
}

.rn_pct { 
  text-align: center;
}
.rn_pct_10 { background: red; }
.rn_pct_20 { background: red; }
.rn_pct_30 { background: red; }
.rn_pct_40 { background: red; }
.rn_pct_50 { background: red; }
.rn_pct_60 { background: salmon; }
.rn_pct_70 { background: salmon; }
.rn_pct_80 { background: yellow; }
.rn_pct_90 { background: lightgreen; }
.rn_pct_100 { background: lightgreen; }

.employee_list {
  width: 150px;
  float: left;
}

#staffing_grid_container {
  width: fit-content;
}

#staffing_grid_legend {
  float: right;
}

#staffing_grid {
  clear: both;
}

.aggregate_extra_data {
  display: none;
}

#advocate_aggregate_toggle_extra_data {
  cursor: pointer;
}
