.scoreboard_component {
  border: thin solid black;
  width: 45%;
  margin-bottom: 2%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.match_column {
  width: 25%;
  text-align: center;
  float: left;
}

.match_column .match_form {
  border: thin solid black;
  padding: 10px;
  margin: 10px;
}

.event_logo {
  width: 100px;
}

.olympic_match {
  text-align: center;
  clear: both;
}

.olympic_match_panel {
  float: left;
  width: 33%;
}

.olympic_match .winner {
  color: green;
}

.olympic_match .loser {
  color: gray;
}

#rankings table {
  width: 100%;
  font-size: 2em;
}

.hidden {
  display: none;
}
