.scoreboard_component {
  width: 45%;
}

.right {
  float: right;
  clear: right;
}

.left {
  float: left;
  clear: left;
}

.clear {
  clear: both;
}

.match_column {
  width: 25%;
  text-align: center;
  float: left;
}

@media only screen and (max-width: 480px) {
  .match_column {
    width: 100%;
  }
}

.match_column input[type="submit"] {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.match_column .match_form {
  border: thin solid black;
  padding: 10px;
  margin: 10px;
}

.event_logo {
  width: 100px;
}

.olympic_match {
  text-align: center;
  clear: both;
  display:flex;
  display: flex;
  margin-bottom: 14px;
  border: thin dashed darkgray;
  padding: 5px;
  border-radius: 10px;
}

.olympic_match_panel {
  float: left;
  width: 33%;
  display:inline-block;
  vertical-align:middle;
  border-radius: 10px;
  font-size: 1.25em;
}

.olympic_match_panel.winner {
  background-image: url("olympics/medal.png");
  background-size: 25px;
  background-repeat: no-repeat;
}

#rankings table {
  width: 100%;
  font-size: 2em;
}

.hidden {
  display: none;
}

#tiebreaker_criteria {
  table-layout: fixed ;
  width: 100%;
}

#tiebreaker_criteria td {
  text-align: center;
}

#tiebreaker_criteria .empty_matchup {
  border: thick solid black;
}

#tiebreaker_criteria .tied_matchup {
  background: lightgray;
}

.generated_match {
  border: thin solid black;
  width: 19%;
  float: left;
  margin: 5px;
  height: 150px;
}

.scoreboard_team_name div {
  padding: 10px;
}

.matchup_team_name {
  padding: 10px;
}

.olympic_match_panel {
  display: flex;
  width: 50%;
  min-height: 100px;
  margin: auto;
  align-items:center;
  justify-content:center;
}

#rankings td:first-child {
  width: 5%;
}
